<div class="w-full flex flex-col relative">

  <div class="flex items-center bg-main-color py-2">
    <%= link_to '/' do %>
      <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" class="scale-75 fill-white "><path d="M24 40 8 24 24 8l2.1 2.1-12.4 12.4H40v3H13.7l12.4 12.4Z"/></svg>
    <% end %>
    <h2 class="flex-[0_0_75%] text-center h-min font-proxima font-semibold text-white">REGISTER</h2>
  </div>
  
  <div class=" flex flex-col items-center py-10 gap-4">
    <div><%= image_tag "Logo.png"%></div>
    <h1 class="font-thin text-4xl text-gray-600">Create an account</h1>
  </div>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
        html: { class: 'flex flex-col items-center py-10 gap-4' }
    ) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.text_field :name, autofocus: true, autocomplete: "name",  placeholder: 'Name',
      class: 'w-full p-3 shadow-inner border-y-slate-300 border-x-transparent font-proxima' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email',
      class: 'w-full p-3 shadow-inner border-y-slate-300 border-x-transparent font-proxima' %>

   
    <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password (6 char minimum)',
      class: 'w-full p-3 shadow-inner border-y-slate-300 border-x-transparent font-proxima' %>

 
   
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Password confirmation',
      class: 'w-full p-3 shadow-inner border-y-slate-300 border-x-transparent font-proxima' %>

    <div class="right-4 top-2 py-2 h-12 flex absolute">
      <%= f.submit "Next", class: "font-proxima font-light text-white" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>